.add-task-page {
  width: min(100%, 976px);
}

.add-task-page > h1 {
  margin-bottom: 48px;
}

.task-form--page .task-form-footer {
  margin-top: 32px;
}

.task-form-footer > p .task-required {
  position: relative;
  top: -0.35em;
  font-size: 0.75em;
  line-height: 0;
}
