.add-task-page {
  width: min(100%, 976px);
}

.add-task-page > h1 {
  margin-bottom: 48px;
}


.task-form-footer > p .task-required {
  position: relative;
  top: -0.35em;
  font-size: var(--fs-body);
  line-height: 0;
}
